@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: poppins;
}

:root {
  --primary: #30D7BA;
  --lightBlue: #03D6F3;
  --darkBlue: #112D57;
  --secondary: "#5C5C5C";
  --lightGray: #E5E5E5;
  --fs-headline: clamp(10px,10vw,55px);
  --fs-second-headline: clamp(10px,10vw,46px);
  --fs-title: clamp(10px,10vw,30px);
  --fs-paragraphs: clamp(10px,10vw,18px);
  --fs-link: 15px;
  --fs-subtitle: 12px;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  font-size: 1rem;
  font-weight: 500;
  padding: 1rem 6rem;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
}

.primary-btn {
  color: white;
  background-color: var(--lightBlue);
  border: none;
}

.secondary-btn {
  color: var(--primary);
  border: 1px solid var(--primary);
  background: transparent;
}

.md-buttons {
  display: none;
}

h1 {
  font-size: var(--fs-second-headline);
  font-weight: 500;
  line-height: 57px;
}

p {
  color: var(--secondary);
  font-size: var(--fs-paragraphs);
  font-weight: 400;
}

a {
  text-decoration: none;
}

.texts {
  text-align: center;
  display: grid;
  gap: 2rem;
  padding: 0 clamp(50px, 10vw, 60px);
}

.wrapper {
  display: grid;
  gap: 1vh;
  place-items: center;
  grid-template-rows: auto;
  height: 100vh;
  padding: 3rem 2rem;
}

.hero-container {
  color: white;
  height: 100vh;
  text-align: center;
  background: linear-gradient(230.95deg, #CB1AE8 -0.37%, #37BDA6 100%);
  overflow: hidden;
}
.hero-container nav {
  display: flex;
  align-items: center;
  width: 100vw;
  padding: 1rem 1.5rem 0;
}
.hero-container nav ul {
  display: none;
  font-weight: 400;
  list-style: none;
  font-size: 1rem;
  gap: 5vw;
}
.hero-container nav button {
  color: white;
  padding: 0.8rem clamp(1.8rem, 4vw, 3rem);
  background-color: transparent;
  margin-left: auto;
  margin-right: 1rem;
  border: 1px solid white;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  box-shadow: none;
}
.hero-container .hero-details {
  margin: 0 4rem;
  display: grid;
  place-items: center;
}
.hero-container .hero-texts {
  margin: 5vh 0;
}
.hero-container .hero-texts h1 {
  margin-bottom: 2rem;
}
.hero-container .hero-texts p {
  color: var(--lightGray);
  margin-bottom: 1rem;
}
.hero-container .buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.hero-container .buttons button {
  color: var(--darkBlue);
  font-weight: 500;
  font-size: 1rem;
  padding: 1rem clamp(3rem, 20vw, 5.5rem);
  border: 1px solid white;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}
.hero-container .buttons :nth-child(2) {
  color: white;
  background-color: transparent;
  box-shadow: none;
}
.hero-container .hero-img {
  padding: 3rem;
}

.service-container .title {
  font-family: poppins;
  font-size: var(--fs-second-headline);
  font-weight: 500;
  line-height: 57px;
  text-align: center;
  letter-spacing: 0.2px;
  margin: 0 calc(10px + 15vw);
  margin-bottom: 3rem;
  padding-top: 4rem;
}
.service-container .cards {
  margin: 2rem;
}
.service-container .cards .card {
  gap: 2rem;
  margin: 1rem;
  display: flex;
  text-align: center;
  align-items: center;
  font-family: poppins;
  flex-direction: column;
  margin-bottom: 7vh;
  padding: 3rem 3rem;
  box-shadow: 0px 4px 31px -3px rgba(0, 0, 0, 0.1);
}
.service-container .cards .card h1 {
  font-weight: 700;
  font-size: var(--fs-title);
}
.service-container .cards .card p {
  font-weight: 400;
  font-size: var(--fs-paragraphs);
  margin: 0 1.2rem;
}
.service-container .cards .card a {
  color: var(--primary);
  text-decoration: none;
  font-size: var(--fs-link);
  font-weight: 400;
}
.service-container .cards .card2 {
  color: white;
  background: linear-gradient(230.95deg, #CB1AE8 -0.37%, #37BDA6 100%);
}
.service-container .cards .card2 a {
  color: white;
}

.promo-container .texts, .ads-container .texts {
  display: grid;
  place-items: center;
  gap: 2rem;
  padding: 0 clamp(50px, 10vw, 60px);
}
.promo-container .buttons, .ads-container .buttons {
  display: grid;
}
.promo-container .buttons, .promo-container .md-buttons, .ads-container .buttons, .ads-container .md-buttons {
  gap: 1rem;
  place-content: center;
  grid-row: 3;
}

.info-container {
  gap: 0;
}
.info-container .texts a {
  color: black;
}
.info-container button {
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem 3rem;
}

.ads-container .texts {
  text-align: center;
  padding: 0 2rem;
}

@media (min-width: 1025px) {
  .hero-container nav {
    padding: 1rem 0rem;
    justify-content: space-around;
  }
  .hero-container nav ul {
    display: flex;
  }
  .hero-container nav svg {
    display: none;
  }
  .hero-container nav button {
    margin: 0;
  }
  .hero-container .hero-texts {
    max-width: 40rem;
  }
  .hero-container .hero-texts h1 {
    font-size: var(--fs-headline);
    font-weight: 900;
    margin-top: 3vh;
  }
  .hero-container .hero-img {
    margin-top: 3vh;
  }
  .hero-container .buttons {
    flex-direction: row;
    justify-content: center;
  }
  .hero-container .buttons button {
    padding: 1rem 3rem;
  }
  .service-container {
    height: 100vh;
    display: grid;
    place-content: center;
  }
  .service-container .title {
    margin-bottom: 3vh;
  }
  .service-container .cards {
    display: flex;
    width: 80vw;
    height: -moz-min-content;
    height: min-content;
  }
  .service-container .cards .card {
    text-align: start;
    justify-content: space-around;
    align-items: flex-start;
    margin-bottom: 1rem;
  }
  .service-container .cards .card p {
    margin: 0;
  }
  .promo-container, .info-container, .ads-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    margin: 0 5vw;
  }
  .promo-container .md-buttons, .info-container .md-buttons, .ads-container .md-buttons {
    display: flex;
  }
  .promo-container .texts, .info-container .texts, .ads-container .texts {
    text-align: left;
    place-items: initial;
  }
  .promo-container .buttons, .info-container .buttons, .ads-container .buttons {
    display: none;
  }
  .promo-container .md-buttons, .ads-container .md-buttons {
    place-content: initial;
  }
  .promo-container .md-buttons button, .ads-container .md-buttons button {
    padding: 1rem 3vw;
  }
  .info-container {
    margin: 0 10rem;
    gap: 3rem;
  }
  .info-container .texts {
    padding: 0;
  }
  .info-container img {
    grid-row: 1;
  }
  .ads-container .texts {
    text-align: left;
  }
}/*# sourceMappingURL=style.css.map */