@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --primary: #30D7BA;
    --secondary: '#5C5C5C',
    --lightGray: '#E5E5E5',

    --fs-headline: 55px;
    --fs-title: 30px;
    --fs-paragraphs: 18px;
    --fs-link: 15px;
    --fs-subtitle: 12px;
}

// .hero-container{
//     background: linear-gradient(230.95deg, #CB1AE8 -0.37%, #37BDA6 100%);

// }



// vanilla
.container{
    height: 100vh;
    width: auto;
    font-family: poppins;
    text-align: center;
    background: linear-gradient(230.95deg, #CB1AE8 -0.37%, #37BDA6 100%);
    
    nav{
        display: flex;
        align-items: center;
        width: 100vw;
        padding: 1rem 1rem 0;

        ul{
            display: none;
            font-weight: 400;
            list-style: none;
            font-size: 1rem;
            gap: 5rem;
        }
        button{
            color: white;
            padding: 1rem 2rem;
            background-color: transparent;
            margin-left: auto;
            margin-right: 1rem;
            border: 1px solid white;
            border-radius: 2rem;
            -webkit-border-radius: 2rem;
            -moz-border-radius: 2rem;
            -ms-border-radius: 2rem;
            -o-border-radius: 2rem;
        }
    }

    .hero-texts{

    }

    .buttons{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


// mobile
@media (max-width: 480px) {

}

// small tablet 
@media (min-width: 481px) {

}
@media (min-width: 481px) and (max-width: 768px) {

}

// tablet 
@media (min-width: 769px){
    
}
@media (min-width: 769px) and (max-width: 1024px) {
}

// desktop 
@media (min-width: 1025px){

}
@media (min-width: 1025px) and (max-width: 1200px) {

}

// large desktop 
@media (min-width: 1201px) {

}