@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: poppins;
}

:root {
  --primary: #30D7BA;
  --lightBlue: #03D6F3;
  --secondary: "#5C5C5C";
  --lightGray: #E5E5E5;
  --fs-headline: 55px;
  --fs-second-headline: 46px;
  --fs-title: 30px;
  --fs-paragraphs: 18px;
  --fs-link: 15px;
  --fs-subtitle: 12px;
}

.hero-container {
  color: white;
  height: 100vh;
  text-align: center;
  background: linear-gradient(230.95deg, #CB1AE8 -0.37%, #37BDA6 100%);
  overflow: hidden;
}
.hero-container nav {
  display: flex;
  align-items: center;
  width: 100vw;
  padding: 1rem 2rem 0;
}
.hero-container nav ul {
  display: none;
  font-weight: 400;
  list-style: none;
  font-size: 1rem;
  gap: 5rem;
}
.hero-container nav button {
  color: white;
  padding: 1rem 2rem;
  background-color: transparent;
  margin-left: auto;
  margin-right: 1rem;
  border: 1px solid white;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}
.hero-container .hero-details {
  margin: 0 4rem;
  display: grid;
  place-items: center;
}
.hero-container .hero-texts {
  margin: 5vh 0 3rem 0;
}
.hero-container .hero-texts h1 {
  font-size: var(--fs-second-headline);
  font-weight: 500;
  line-height: 57px;
  margin-bottom: 2rem;
}
.hero-container .hero-texts p {
  color: var(--lightGray);
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.hero-container .buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.hero-container .buttons button {
  font-weight: 500;
  font-size: 1rem;
  padding: 1rem 5.5rem;
  border: 1px solid white;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}
.hero-container .buttons :nth-child(2) {
  color: white;
  background-color: transparent;
}
.hero-container .hero-img {
  max-width: 100%;
  height: auto;
  margin-top: 1.5rem;
  padding: 3rem;
}

.service-container .title {
  font-family: poppins;
  font-size: var(--fs-second-headline);
  font-weight: 500;
  line-height: 57px;
  text-align: center;
  letter-spacing: 0.2px;
  margin: 0 6rem 3rem 6rem;
  padding-top: 4rem;
}
.service-container .cards {
  margin: 2rem;
}
.service-container .cards .card {
  gap: 1rem;
  margin: 1rem;
  display: flex;
  text-align: center;
  align-items: center;
  font-family: poppins;
  flex-direction: column;
  margin-bottom: 5rem;
  padding: 3rem 3rem;
  box-shadow: 0px 4px 31px -3px rgba(0, 0, 0, 0.1);
}
.service-container .cards .card h1 {
  font-weight: 700;
  font-size: var(--fs-title);
}
.service-container .cards .card p {
  font-weight: 400;
  font-size: var(--fs-paragraphs);
  margin: 0 1.2rem;
}
.service-container .cards .card a {
  color: var(--primary);
  text-decoration: none;
  font-size: var(--fs-link);
  font-weight: 400;
}
.service-container .cards .card2 {
  color: white;
  background: linear-gradient(230.95deg, #CB1AE8 -0.37%, #37BDA6 100%);
}
.service-container .cards .card2 a {
  color: white;
}

.promo-container {
  display: grid;
  gap: 2rem;
  place-items: center;
  grid-template-rows: auto;
  height: 100vh;
  padding: 2rem;
}
.promo-container .texts {
  display: grid;
  place-items: center;
  gap: 2rem;
  padding: 0 3.5rem;
}
.promo-container .texts h1 {
  font-size: var(--fs-second-headline);
  font-weight: 500;
  line-height: 57px;
}
.promo-container .texts p {
  font-size: 1rem;
  font-weight: 700;
  line-height: 20px;
}
.promo-container .promo-img {
  max-width: 100%;
  height: auto;
}
.promo-container .buttons {
  display: grid;
  gap: 1rem;
  place-content: center;
  grid-row: 3;
}
.promo-container .buttons button {
  font-size: 1rem;
  font-weight: 500;
  padding: 1rem 6rem;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
}
.promo-container .buttons :nth-child(1) {
  color: white;
  background-color: var(--lightBlue);
  border: none;
}
.promo-container .buttons :nth-child(2) {
  color: var(--primary);
  border: 1px solid var(--primary);
  background: transparent;
}

@media (min-width: 769px) {
  .promo-container .texts p {
    text-align: center;
  }
}
@media (min-width: 1025px) {
  .hero-container nav {
    padding: 1rem 0rem;
    justify-content: space-around;
  }
  .hero-container nav ul {
    display: flex;
  }
  .hero-container nav svg {
    display: none;
  }
  .hero-container nav button {
    margin: 0;
    padding: 1rem 3rem;
  }
  .hero-container .hero-texts {
    max-width: 40rem;
  }
  .hero-container .hero-texts h1 {
    font-size: var(--fs-headline);
    font-weight: 900;
    margin-top: 3vh;
  }
  .hero-container .hero-img {
    margin-top: 3vh;
  }
  .hero-container .buttons {
    flex-direction: row;
    justify-content: center;
  }
  .hero-container .buttons button {
    padding: 1rem 3rem;
  }
  .service-container {
    height: 100vh;
    display: grid;
    place-content: center;
  }
  .service-container .cards {
    display: flex;
    width: 85vw;
  }
  .service-container .cards .card {
    text-align: start;
    justify-content: space-around;
    align-items: flex-start;
    margin-bottom: 0;
    height: clamp(350px, 50vh, 500px);
  }
  .service-container .cards .card p {
    margin: 0;
  }
}/*# sourceMappingURL=style.css.map */